body, html {
    min-height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgb(255, 255, 255) ,rgb(129, 223, 255), rgb(134, 184, 255));
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: end;
    height: 10vh;
    background-color: white;    
}

nav {
    margin: auto;
    width: 90%;
    text-align: center;
    justify-self: center;
}

nav label {
    font-size: x-large;
}

input {
    width: 40vw;
    height: 4vh;
    border-radius: 20px;
    font-size: medium;
}

input::placeholder {
    margin-left: 5px;
    font-size: 90%;
}

#profile {
    margin: auto;
    border-radius: 50%;
    height: 5vh;
    aspect-ratio: 1 / 1;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: calc(100vh - 10vh);
    align-items: center;
}

.navegar {
    background-color: rgba(255, 255, 255, 0.362);
    border: solid, 1px, gray;
    border-radius: 50%;
    height: 10vh;
    aspect-ratio: 1 / 1;
    margin: auto 30px;
}

.navegar:hover{
    background-color: rgba(255, 255, 255, 0.795);
    border: solid, 1px, gray;
    border-radius: 50%;
    transition: all, 0.5s;
}

#botao-direito {
    justify-self: end;
}

#lista-playlists  {
    width: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    gap: 400px;
    transition: ease, 1s;
    z-index: -1;
}

#lista-playlists .playlist {
    background-color: aliceblue;
    border-radius: 10%;
    width: 400px;
    aspect-ratio: 1 / 1;
}

#botoes-interagir {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: center;
    gap: 2vw;
}

#botoes-interagir button {
    width: 5vh;
    aspect-ratio: 1 / 1;
    transition: all, 0.5s;
    border-radius: 50%;
}

#remover:hover {
    background-color: red;
    color: white;
    transition: all, 0.5s;
    border-color: white;
}
