:root {
    --fundo: #a4f4fb, #4ed3ff, #4290fc;
    --navegacao-fundo: 162deg,#ffffff , #ffffff ;
    --navegacao-input: #000000;
    --fundo-interacoes: #a5e9fc, #85a1ff;
    --sombra: #000000;
    --contraste-sair: 0 0 10px #ffffff, 0 0 15px #ffea00; 
}

body, html {
    min-height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, var(--fundo));
    margin: 0;
    overflow: hidden;
}

body.dark {
    --fundo: #06175b, #0f0b47, #150733;
    --navegacao-fundo: 166deg,#070054 0%, #310061 50%, #440187 100%;
    --navegacao-input: #ffffff;
    --sombra: #919191;
    --fundo-interacoes:  #310061, #11002d;
    --contraste-sair: 0 0 10px #ffffff;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 10vh;
    background-image: linear-gradient(var(--navegacao-fundo));  
    justify-items: center;  
}

nav {
    grid-column: 2 / 3;
    margin: auto;
    text-align: center;
    font-size: x-large;
    border: solid 3px var(--navegacao-input);
    border-radius: 20px;
    padding: 3px;
    overflow-x: hidden;
    color: var(--navegacao-input);
}

nav input {
    width: 40vw;
    height: 3vh;
    font-size: large;
    background: transparent;
    border: none;
    color: var(--navegacao-input);
}

nav input:focus {
    outline: none;
}

#outros {
    grid-column: 3 / 4;
    margin: auto 10px auto auto;
}

#outros button {
    height: 5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    color: var(--navegacao-input);
    padding: 2px;
}

#caixa-de-pesquisa {
    width: 40vw;
    height: 0vh;
    position: absolute;
    opacity: 0;
    top: 10vh;
    background-color: #ffffff;
    transition: ease 0.5s;
}

#caixa-de-pesquisa.ativa {
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 10vh;
    background-color: #ffffff;
    opacity: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: hidden;
    transition: ease 0.5s;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: calc(100vh - 10vh);
    align-items: center;
}

.navegar {
    background-color: rgba(255, 255, 255, 0.362);
    border: solid, 1px, gray;
    border-radius: 50%;
    height: 10vh;
    aspect-ratio: 1 / 1;
    margin: auto 30px;
}

.navegar:hover{
    background-color: rgba(255, 255, 255, 0.795);
    border: solid, 1px, gray;
    border-radius: 50%;
    transition: all, 0.5s;
}

#botao-direito {
    justify-self: end;
}

#lista-playlists  {
    width: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    gap: 400px;
    transition: ease, 1s;
    z-index: -1;
}

#lista-playlists .playlist {
    background-color: aliceblue;
    border-radius: 10%;
    width: 400px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: 40px 250px 1fr 20px;
    justify-content: center;
    align-content: center;
    box-shadow: var(--sombra) 0 0 15px;
}

.playlist img {
    max-width: 250px;
    max-height:250px;
    grid-row: 2 / 3;
}

.playlist h1 {
    justify-self: center;
    align-self: end;
    grid-row: 3 / 4;
}

#botoes-interagir {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-content: center;
    gap: 2vw;
}

#botoes-interagir button {
    width: 6vh;
    aspect-ratio: 1 / 1;
    transition: all, 0.5s;
    border-radius: 50%;
}

#remover:hover {
    background-color: rgb(218, 0, 0);
    color: white;
    transition: all, 0.5s;
    border-color: white;
}

#janelas-interacoes {
    height: 100vh;
    width: 100vw;
    background-color: #020202a9;
    z-index: 5;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 35vw 1fr;
    grid-template-rows: 1fr 70vh 1fr;
    transition: ease-in 0.5s;
    opacity: 1;
}

#adicionar {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: radial-gradient( var(--fundo-interacoes));
    color: var(--navegacao-input);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border-radius: 10%;
    padding: 5%;
    position: relative;
    opacity: 1;
    transition: ease-in 0.5s;
    box-shadow: var(--contraste-sair);
}

#adicionar h1 {
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: 20%;
}

#adicionar #preenchimento {
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-rows: 1fr  1fr  1fr  1fr;
    align-items: center;
    gap: 5px;
}

#adicionar-confirmacao {
    height: 50%;
    width: 40%;
    justify-self: center;
    align-self: end;
    margin-bottom: 5%;
    border: var(--navegacao-input) 2px solid;
    color: var(--navegacao-input);
    background-color: transparent;
    font-size: large;
    border-radius: 20px;
    transition: all, 0.5s;
}

#adicionar-confirmacao:hover {
    text-shadow: var(--contraste-sair);
    box-shadow: inset var(--contraste-sair);
    transition: all, 0.5s;
}

.sair {
    position: absolute;
    top: 5%;
    right: 7%;
    width: 5%;
    aspect-ratio: 1 / 1;
    font-size: 1.5em;
    justify-self: end;
    top: 6%;
    right: 5%;
    justify-self: end;
    background-color: transparent;
    border: none;
    color: var(--navegacao-input);
    transition: all, 0.5s;
    text-align: center;
}

.sair:hover {
    text-shadow: var(--contraste-sair);
    transition: all, 0.5s;
}

#janelas-interacoes.escondido, #adicionar.escondido {
    opacity: 0;
    transition: ease-out 0.5s;
    z-index: -2;
}

.escondido2 {
    opacity: 0;
    pointer-events: none;
    z-index: -2;
    transition: ease-out 0.5s;
}
#janelas-interacoes2 {
    position: fixed;
    inset: 0;
    background-color: #020202a9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#creditos {
    width: 35vw;
    min-width: 300px;
    max-width: 500px;
    background-image: radial-gradient(var(--fundo-interacoes));
    color: var(--navegacao-input);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    box-shadow: var(--contraste-sair);
}