body, html {
    min-height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgb(255, 255, 255) ,rgb(129, 223, 255), rgb(134, 184, 255));
    margin: 0;
}

header {
    display: flex;
    justify-content: end;
    height: 10vh;
    background-color: white;    
}

nav {
    margin: auto;
    width: 90%;
    text-align: center;
    justify-self: center;
}

input {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    padding: 2px;
}

input::placeholder {
    padding-left: 2px;
    font-size: 90%;
}

#profile {
    margin: auto;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1 / 1;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: calc(100vh - 10vh);
    align-items: center;
}

.selecionar {
    background-color: rgba(255, 255, 255, 0.362);
    border: solid, 1px, gray;
    border-radius: 50%;
    height: 10vh;
    aspect-ratio: 1 / 1;
    margin: auto 30px;
}

.selecionar:hover{
    background-color: rgba(255, 255, 255, 0.795);
    border: solid, 1px, gray;
    border-radius: 50%;
    transition: all, 0.5s;
}

#selecionar-direta {
    justify-self: end;
}

#lista-playlists  {
    width: 400px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#lista-playlists .playlist {
    background-color: aliceblue;
    border-radius: 10%;
    width: 400px;
    aspect-ratio: 1 / 1;
}